@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/Index.css" />
</environment>

<body>

    <div class="border">
        <div class="SearchBar">
            <input style="height: 32px; width: 704px;" type="text" placeholder="Search..." required>
            <button style="height: 32px;" type="button">Søg opskrift</button>
            <button style="height: 32px;" type="button">Søg ingrediens</button>
            <button style="height: 32px;" type="button">Opret bruger</button>
            <button style="height: 32px;" type="button">Login</button>
        </div>
    </div>
    
<div>
    <input class="Check_Netto" type="checkbox"/>
</div>

<div class="Buttons2">
            <button class="btn_Top" type="button"><a asp-area="" asp-page="/TopPicks">Top Retter</a></button>
            <button class="btn_New" type="button"><a asp-area="" asp-page="/NewRecipe"> Nye retter</a></button>
            <button class="btn_Su" type="button"><a asp-area="" asp-page="/SuRecipe"> SU-retter</a></button>
            <button class="btn_Vegi" type="button"><a asp-area="" asp-page="/Vegi">Vegetar retter</a></button>
            <button class="btn_Classic" type="button"><a asp-area="" asp-page="/ClassicRecipe">Klassiske retter</a></button>
            <button class="btn_Store" type="button"><a asp-area="" asp-page="/Store">Vælg Butik</a></button>

        </div>

        <p style="clear:both"><br></p>

        <div style="font-size: 150px" class="border2">

            Ugens tilbud
        </div>

        <div class="pic">
            <img src="https://vielskermad.dk/wp-content/uploads/2018/03/lasagne.jpg" alt="Lasange" height="400" width="600">
        </div>

</body>